<div class="container text-center">
  <% if @movie && @movie.photos.attached? %>
    <div class="row justify-content-center">
      <% @movie.photos.each do |photo| %>
        <div class="col-md-4 mb-3">
          <div class="photo-item">
            <%= image_tag photo, class: "img-fluid" %>
            <%= button_to t('actions.delete'),
              destroy_photo_movie_path(@movie, photo_id: photo.id),
              method: :delete,
              data: { confirm: 'Tem certeza de que deseja excluir esta foto?' },
              class: 'btn btn-danger btn-sm mt-2' %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div id="<%= dom_id movie %>" class="mt-4">
    <p>
      <strong><%= t('activerecord.attributes.movie.title') %>:</strong>
      <%= movie.title %>
    </p>

    <p>
      <strong><%= t('activerecord.attributes.movie.decription') %>:</strong>
      <%= movie.description %>
    </p>

    <p>
      <strong><%= t('activerecord.attributes.movie.release_year') %>:</strong>
      <%= movie.release_year %>
    </p>
  </div>
</div>
