<div class="container text-center">
  <p style="color: green"><%= notice %></p>

  <div class="mt-4">
    <%= render @movie %>
  </div>

  <div class="mt-4 text-center">
    <%= link_to t("activerecord.attributes.edit"), edit_movie_path(@movie), class: "btn btn-outline-primary btn-sm me-3" %>
    <%= link_to t("activerecord.attributes.back"), movies_path, class: "btn btn-outline-secondary btn-sm" %>

    <%= button_to t("activerecord.attributes.delete"), @movie, method: :delete, class: "btn btn-outline-danger btn-sm mt-2" %>
  </div>

</div>
