<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div>
  <%= link_to t("activerecord.attributes.edit"), edit_movie_path(@movie) %> |
  <%= link_to t("activerecord.attributes.back"), movies_path %>

  <%= button_to t("activerecord.attributes.delete"), @movie, method: :delete %>
</div>
